@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

:root {
  --background: rgba(0, 214, 170, .85);  /* Acts as a variable with a specified color in it */
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.content {
  height: 100vh;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

/* navigation styles start here */

#h1 {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 80px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}


nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 1;
  position: relative;
}

nav a:hover {
  color: #000;
}

#h1 {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1); 
    background: none;
    top: initial;
    left: initial;
    
    grid-column: 3 / 4; /* takes the scale of place as mentioned in the nav bar */
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a::before {  /*Implements the CSS just before the nav a contents when the program is being compiled or loaded in the web browser */
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 140ms;
    transform-origin: left;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }


a{
  transition: all .5s;
  text-decoration: none;
  color: #fff;

}
img{
  width: 100%;
  transition: all .5s;
}


#blogMenu{
  padding: 70px 0;
  background: rgba(116, 185, 255,0.09);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.mainContent{
  margin-top: 90px;
}
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
main{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin: 30px 15px 0px 15px;
}
#h2{
  width: 70%;
  margin: 0 auto;
}
#h2 h1{
  margin: 0;
  font-size: 50px;
  color: rgba(52, 73, 94,1.0);
  font-weight: 500;
}
.Blog{
  position: relative;
  overflow: hidden;
  max-height: 380px;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0 2px 10px #ccc;
  transition: all .5s;
}
.Blog:hover{
  box-shadow: 0 2px 13px #ccc;
  transition: all .5s;
}
.Blog:hover img{              /* When the mouse cursorer is placed in the image, this line is executed with some effects on the image */
  transform: scale(1.1);
  transition: all .4s;
}
.blogContent{
  position: absolute;
  left: 0;
  bottom: -45px;
  width: 100%;
  color: #fff;
  padding: 10px 5px;
  background: linear-gradient(45deg, rgba(21,82,153,1) 0%,rgba(144,192,229,.4) 100%);
  transition: all .5s;
}
.Blog:hover .blogContent{
  bottom: 0;
  transition: all .5s;
}

.blogContent h3{
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.blogContent h3 span{   /* Goes to the specific tags when the same tag has been used multiple times in the same HTML codes */
  display: block;
  font-size: 60%;
  margin-top: 5px;
  font-weight: 600;
  color: rgba(52, 73, 94,1.0)
}

.blogContent a{
  font-size: 14px;
  font-weight: 500;
}
.blogContent .btn{
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 3px;
  font-weight: 400;
}
.blogContent .btn:hover{
  background: rgba(52, 152, 219,1.0);
  transition: all .5s;
  text-decoration: none;
}
.blogContent a:hover{
  text-decoration: underline;
}


/*begins the new layout */

.container1{
   box-shadow: 0 4px 9px rgba(0, 0, 0, 0.8);
   width: 100%;
   position: absolute;
   overflow: hidden;
   max-width: 1200px;
   margin-left: 135px;
   margin-bottom: 40px;
   margin-top: 140px;
   
   
}
.mainContent1{
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  background-color: rgb(#979A9E);
 
}

p{
  font-weight: 500;
  line-height: 1.5;
}

.contents1{        /* margin: margin top margin right margin bottom margin left; */
 margin:40px 15px 4px 15px;
}
.content1 .contents1 .topic1{
  font-weight: 600;
}
.content1 .contents1 .img1{
  height: 100%;
  max-height: 650px;
  padding: 5px 5px 5px 5px;
  border-radius: 1rem;
}
.content1 .contents1 video{
  height: 100%;
  max-height: 800px;
  width: 100%;
  max-width: 1200px;
  padding: 5px 5px 5px 5px;
  border-radius: 1rem;
}

.content1 .contents1 .realContent1{
  padding-bottom: 2rem;
  font-size: 18px;
  font-family: 'Titillium Web', sans-serif;
} 

.contents1 #button{
  border:none;
  border-radius: 3px;
  padding: 6px 9px;
  text-align: center;
  font-size: 15px;
  margin-bottom: 8px;
  margin-left: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);   /* This gives the light touch in the button as shadow */
}
.contents1 #button:hover{
  background: rgba(52, 152, 219,1.0);
  transition: all .5s;
  text-decoration: none;
}